@import url("https://fonts.googleapis.com/css?family=Caveat|Mali");

:root {
  --mainDark: #242325;
  --mainGreen: #61e786;
  --mainWhite: #fff;
  --mainGrey: #eeeeee;
}
body {
  font-family: "Mali", cursive;
  background: var(--mainWhite);
  color: var(--mainDark);
}
.navbar{
    background: var(--mainDark) !important;
}

/* global */
.text-green {
  color: var(--mainGreen);
}
.text-slant {
  font-family: "Caveat", cursive;
}
.title-underline {
  width: 12rem;
  height: 0.3rem;
  margin: 0 auto;
  position: relative;
  border-radius: 2rem;
}
.title-underline-center {
  position: absolute;
  height: 0.6rem;
  background: var(--mainGreen);
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
/*________________________________________________________________________________________*/


.phone-border{
    color: var(--mainGreen);
    padding: 10px;
    border: 2px solid var(--mainGreen);
    border-radius: 50%;
    margin-right: 10px;
}
/* banner */
.banner-info {
  min-height: calc(100vh - 101px);
  background: var(--mainGrey);
  position: relative;
}
.banner-info__footer {
  background: var(--mainGreen);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.banner-img {
  min-height: calc(100vh - 101px);
  background: url("../img/bannerBcg.jpeg") center/cover fixed no-repeat;
  position: relative;
}
.banner-img__footer {
  background: var(--mainDark);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 104px;
  display: flex;
  align-items: center;
}
/* end of banner */

/* about img */
.img-container{
    position: relative;
}
.featured-icons{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.featured-icon-left {
  background: var(--mainDark);
  padding: 0.5rem;
  display: inline-block;
  color: var(--mainWhite);
}
.featured-icon-right {
  background: var(--mainGreen);
  padding: 0.5rem;
  display: inline-block;
  color: var(--mainWhite);
}
.bord{
    border-left: 8px solid var(--mainGreen)
}

.bord-btn{
    border: 1px solid white;
    color: var(--mainGrey);
    background: transparent;
}
.bord-btn:hover{
    color: var(--mainGreen);
    background: var(--mainGrey);
}

.service,
#tour {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/bannerBcg.jpeg") center/cover fixed no-repeat;
}
.services-info-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainGreen);
  color: var(--mainWhite) !important;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
}
.services-info-text:hover {
  color: var(--mainDark) !important;
  text-decoration: none;
}
.service-icon {
  font-size: 2rem;
  color: var(--mainGreen);
  padding: 0.5rem;
  border: 0.1rem solid var(--mainGreen);
  margin-right: 1rem;
  transition: all 1s ease-in-out;
}
.service-icon:hover {
  background: var(--mainGreen);
  color: var(--mainGrey);
}
.service-link:hover {
  color: var(--mainWhite);
}

/*Gallery*/



.gallery-img-container{
    position: relative;
    transition: all 1s linear;
    overflow: hidden;
}
.gallery-img-container:hover{
    background: rgba(0,0,0,0.9);
}
.gallery-img-container:hover .gallery-img {
  opacity: 0.3;
}
.gallery-info{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50% ,100%);
    background: var(--mainGreen);
    color: var(--mainWhite);
    text-decoration: none;
    transition: all 0.3s linear;
}
.gallery-info:hover {
  text-decoration: none;
  color: var(--mainDark);
}
.gallery-icon {
  position: absolute;
  color: var(--mainWhite);
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s linear;
  cursor: pointer;
}
.gallery-img-container:hover .gallery-icon{
    opacity: 1
}
.gallery-img-container:hover .gallery-info {
  transform: translate(-50%, 0);
}
.sp{
    padding: 1rem;
    background: #fff;
    color: var(--mainGreen);
    cursor: pointer;
    transition: .4s ease-in-out;
    border-radius: 15px;
    font-size: 30px;
}
.sp:hover{
    background: var(--mainGreen);
    color: #fff
}
.footer {
  background: var(--mainDark);
}